html,
body {
  padding: 0px;
  margin: 0px;
}

#myCanvas {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

#canvas-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  vertical-align:top;
  top: 0.05%;
  left: 0.05%;
  min-width: none;
  max-width: noe;
  width: 15%;
  height: 15%;
}
figcaption {
  text-align: center;
  font-style: normal; 
  font-size: 20px;
  text-size-adjust: inherit;
  font-weight:700;
  color: aliceblue;
}

img {
  width: 100%;
  height: auto;
}
figure {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 500px) {
  figcaption {
     font-size: 10px;
  }
}
@media screen and (min-width: 1000px) {
  figcaption {
     font-size: 15px;
  }
}
@media screen and (min-width: 1500px) {
  figcaption {
     font-size: 20px;
  }
}
@media screen and (min-width: 2000px) {
  figcaption {
     font-size: 25px;
  }
}
@media screen and (min-width: 3000px) {
  figcaption {
     font-size: 30px;
  }
}
@media screen and (min-width: 3500px) {
  figcaption {
     font-size: 35px;
  }
}
@media screen and (min-width: 4000px) {
  figcaption {
     font-size: 40px;
  }
}
@media screen and (min-width: 4500px) {
  figcaption {
     font-size: 50px;
  }
}
@media screen and (min-width: 5000px) {
  figcaption {
     font-size: 60px;
  }
}
@media screen and (min-width: 6000px) {
  figcaption {
     font-size: 70px;
  }
}